NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development" # either development or production
AUTH_SECRET=""

MONGODB_URI=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

TOKEN_SECRET=""

# Resend
RESEND_API_KEY=""
RESEND_EMAIL_URL=""

# Nodemailer
EMAIL_USER=""
EMAIL_PASSWORD=""